@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('./component-items/item-styling/alerts.css');
@import url('./component-items/item-styling/avatars.css');
@import url('./component-items/item-styling/badges.css');
@import url('./component-items/item-styling/button.css');
@import url('./component-items/item-styling/cards.css');
@import url('./component-items/item-styling/images.css');
@import url('./component-items/item-styling/reset.css');
@import url('./component-items/item-styling/utility.css');
@import url('./documentation/documentation-styling/display-documentation.css');
@import url('./documentation/documentation-styling/landing-page.css');
@import url('./documentation/documentation-styling/layout-documentation.css');
@import url('./documentation/documentation-styling/navbar-documentation.css');
@import url('./documentation/documentation-styling/sidenavbar-documentation.css');


html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height:100vh; 
}
