:root{
    --BORDER-COLOR:#eeeeee;
    --PRIMARY-COLOR: #4B4453;
    --SECONDARY-COLOR: #9a94a1;
    --BLACK-COLOR:#000;
    --WHITE-COLOR:#FFF;
    --GREY-COLOR:#eee;
    --GREY-COLOR-2:#F9F7F7; 
    --TEXT-COLOR:#000;
    --HEADING-INVERTED-COLOR:#4B4453;
    --SIDENAV-LINK-COLOR:#4B4453;
    --SUBHEADING-COLOR:#000;
}


.component-subheading{
    color: var(--SUBHEADING-COLOR);
}

.intro-text{
    font-size: 2rem;
    margin: 1rem 1rem 2.5rem 1rem;
    color: var(--TEXT-COLOR);
}

.description{
    margin: 1rem 1rem 1.5rem 1rem;
    color: var(--TEXT-COLOR);
}

.code-container{
    width : 100%;
    margin: 1rem;
}

.component-heading{
    font-size: 3.6rem;
    color: var(--TEXT-COLOR);
    padding-top: 8rem;
}

.example-container{
    display: flex;
    flex-direction: column;
    width : 100%;
    overflow-x:auto;
    height:auto;
    background-color: var(--GREY-COLOR-2);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.example-container-align-horizontal{
    display: flex;
    width : 100%;
    height:auto;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    background-color: var(--GREY-COLOR-2);
    padding: 1.6rem;
    border-radius: 5px;
    margin:1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.sidenav-hr{
    margin: 1rem 0;
}

