/*RESET CSS*/

:root{
    --PRIMARY-COLOR: ##fbbf24;
    --SECONDARY-COLOR: ##0d0f45;
    --WHITE-COLOR:#FFF;
    --BLACK-COLOR:#000;
    --SIDENAV-LINK-COLOR:#4B4453;
    --RED-COLOR:#F65058FF;
    --BADGING-TEXT-COLOR:#fff;
    --PRIMARY-BTN-COLOR : #457b9d;
    --SECONDARY-BTN-COLOR: #1d3557;
    --DEFAULT-CARD-SHADOW-1: rgba(0,0,0,0.16);
    --DEFAULT-CARD-SHADOW-2: rgba(0,0,0,0.23);


}

html{
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
    cursor: pointer;
    border: none;
  }
  
img {
    object-fit: cover;
  }

a {
  text-decoration: none;
}