
:root{
 
  --SUCCESS-ALERT-COLOR:#185927;
  --ERROR-ALERT-COLOR:#721c24;
  --WARNING-ALERT-COLOR:#ce8500;
  --INFO-ALERT-COLOR:#1c5796;
  --SUCCESS-ALERT-BGCOLOR:#d4edda;
  --ERROR-ALERT-BGCOLOR:#f8d7da;
  --WARNING-ALERT-BGCOLOR:#ffdb9b;
  --INFO-ALERT-BGCOLOR:#cce5ff;

  --IMG-BGCOLOR:#eeeeee;
  --BADGE-TEXT-COLOR :#F1FAEE;

    --PRIMARY-BADGE-COLOR: #084C61;
    --STATUS-ONLINE-COLOR:#27a300;
    --STATUS-OFFLINE-COLOR: #FFC857;
    --STATUS-DND-COLOR: #FF0000;

    --PRIMARY-BTN-COLOR : #DB3A34;
    --SECONDARY-BTN-COLOR: #084C61;
    --BLACK-TEXT-COLOR: #000;
    --SUCCESS-BTN-COLOR:#FFD700;
    --INFO-BTN-COLOR:#87ceeb;

    --WHITE-COLOR:#FFF;
    --GRAY-COLOR:	#A9A9A9;
    --ORANGE-COLOR: #FFA500;
    --BORDER-COLOR:#eeeeee;
    --TEXT-HIGHLIGHT-COLOR:#6C7D47;
    --BLACK-COLOR:#000;
    --INDIAN-YELLOW:#dda448;
    --DEFAULT-CARD-SHADOW-1: rgba(0,0,0,0.16);
    --DEFAULT-CARD-SHADOW-2: rgba(0,0,0,0.23);
    --CARD-HOVER-SHADOW-1:rgba(0,0,0,0.12);
    --CARD-HOVER-SHADOW-2:rgba(0,0,0,0.24);
    --ALTRNATE-CARD-SHADOW-1:rgba(0,0,0,0.30);
    --ALTRNATE-CARD-SHADOW-2:rgba(0,0,0,0.22);

}

html{
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
    cursor: pointer;
    border: none;
  }
  
img {
    object-fit: cover;
  }

a {
  text-decoration: none;
}